@page "/devices"

@attribute [Authorize]


@inject IUserAuthService userAuthService
@inject ITokenService tokenService
@inject IDevicesRepository deviceRepo
@inject IDeviceTokensRepository deviceTokensRepository

<h3>Devices</h3>

<hr />
<div>
    <h4>Registered devices</h4>
    @if (devices.Count == 0)
    {
        <div>
            <p>No devices registered add device name & description.</p>
        </div>
    }
    else
    {
        <br />
        <div>
            <MatTable Items="@devices" Striped="true">
                <MatTableHeader>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </MatTableHeader>
                <MatTableRow>
                    <td>@context.Id</td>
                    <td>@context.Name</td>
                    <td>
                        <MatButton Outlined="true" @onclick="@(() => EditDevice(context) )">Edit</MatButton>
                        <MatButton Outlined="true">Tokens</MatButton>
                        <MatButton Outlined="true" @onclick="@(() => DeviceDetails(context))">Details</MatButton>
                        <MatButton Outlined="true" @onclick="@(async () => await RemoveDeviceAsync(@context.Id))">Delete</MatButton>
                    </td>
                </MatTableRow>
            </MatTable>
        </div>
        <br />
    }
</div>

<devicedetails device="@deviceDetails" />

<br />



<devicecreate device="@deviceEdit" OnValidate="@ValidateDevice" mode="@mode" OnCancel="@CancelEdit"/>






@code
{


    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }
    UserInfo userInfo { get; set; } = new UserInfo();
    Device deviceEdit = new Device();
    Device deviceDetails { get; set; }
    List<Device> devices { get; set; }
    FormMode mode = FormMode.Create;

    protected override async Task OnInitAsync()
    {
        await setUsername();
        await setUserId();
        await refreshDevices();
    }

    async Task addDevice()
    {
        await deviceRepo.AddDeviceAsync(deviceEdit);

        var deviceToken = prepareToken();

        await deviceTokensRepository.CreateAsync(deviceToken);

    }
    DeviceToken prepareToken()
    {
        var token = tokenService.GenerateTokenDevice(userInfo.Username);
        var deviceToken = new DeviceToken
        {
            Id = tokenService.IntoString(token),
            DeviceId = deviceEdit.Id,
            Enabled = true,
            CreationDate = DateTime.UtcNow,
            ExpirationDate = token.ValidTo
        };
        return deviceToken;

    }
    async Task refreshDevices()
    {
        devices = await deviceRepo.GetDevicesAsyncByUserId(userInfo.UserId) ?? null;
    }
    async Task setUsername()
    {
        var authState = await authenticationStateTask;
        userInfo.Username = authState.User.Identity.Name;
    }
    async Task setUserId()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        userInfo.UserId = userAuthService.GetUserId(user);
        deviceEdit.AppUserId = userInfo.UserId;
    }
    async Task RemoveDeviceAsync(string id)
    {
        await deviceRepo.DeleteDeviceAsync(id);
        await refreshDevices();
    }

    void DeviceDetails(Device device)
    {
        deviceDetails = device;
    }
    void resetDeviceEdit()
    {
        deviceEdit = new Device { AppUserId = userInfo.UserId };
    }
    async Task ValidateDevice()
    {
        if (mode == FormMode.Create)
        {
            await addDevice();
        }
        else if (mode == FormMode.Edit)
        {
            await updateDevice();
        }
        resetDeviceEdit();
        await refreshDevices();


    }
    async Task updateDevice()
    {
        await deviceRepo.UpdateDeviceAsync(deviceEdit);
    }
    void EditDevice(Device device)
    {
        mode = FormMode.Edit;
        deviceEdit = device;
    }
    void CancelEdit()
    {
        mode = FormMode.Create;
        resetDeviceEdit();
    }
}
