<hr />
<h4>Device Editor - Mode @mode</h4>

<MatCard>
    <div class="form-group">
        <MatTextField PlaceHolder="Name" @bind-Value="@device.Name" Required="true"/>
    </div>
    <div class="form-group">
        <MatTextField PlaceHolder="Description" TextArea="true" @bind-Value="@device.Description" />
    </div>
    <div class="form-group">
        <MatButton Outlined="true" @onclick="@OnValidate">Validate</MatButton>
        <MatButton Outlined="true" @onclick="@OnCancel">Cancel</MatButton>
    </div>
</MatCard>
<hr />
<br />
@code {
    [Parameter]
    Device device { get; set; }

    [Parameter]
    EventCallback<UIMouseEventArgs> OnValidate { get; set; }

    [Parameter]
    EventCallback<UIMouseEventArgs> OnCancel { get; set; }

    [Parameter]
    FormMode mode { get; set; }

}
